<div>
  <% @students.each do |student| %>
    <div>
      <%= student.name %>
    </div>
    <div>
      <%= student.age %>
    </div>
    <div>
      <%= student.student_id %>
    </div>
    <div>
      <%= student.class_name %>
    </div>
    <div>
      <%= link_to "Click to delete", student_delete_path(student.id), method: :delete, data:{confirm: "Delete?"}  %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "Create new", student_new1_path %>
</div>
