<%= form_with(model: product, url: path, local: false) do |form| %>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


 <div class="field mb-3">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field mb-3">
    <%= form.label :des %>
    <%= form.text_area :des %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
