<%= form_with(model: child1212) do |form| %>
  <% if child1212.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(child1212.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
        <% child1212.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

   <div class="field">
    <%= form.label :father_id %>
    <%= form.collection_select :father_id, zasdfsadd, :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
