<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @child.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @child.color %>
</p>

<p>
  <strong>Father:</strong>
  <%= @child.father.name %>
  <%= @child.father.age %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
