<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @student.bio %>
</p>


<%= link_to 'Destroy', subject_student_path(@subject, @student),
method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Edit', edit_subject_student_path(@subject,@student ) %> |
<%= link_to 'Back', subject_path(@subject) %>
