<div>
  <%= form_with do |form| %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content, size: '30x10' %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Email' %>
  </div>

  <% end %>
</div>
