<div class = "container form">
  <%= form_with do |form| %>

    <div class="field mb-3">
      <%= form.label :password,'Last Password', class: "form-label"  %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.label :new_password,'New Password', class: "form-label"  %>
      <%= form.password_field :new_password, class: "form-control" %>
    </div>

     <div class="actions btn-seperate">
      <%= form.submit 'Save Change', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="flash">
  <% flash.each do |key,value|  %>
    <div class= "flash flash-<% key %>">
      <%= value %>
    </div>
  <% end %>
</div>
