<p id="notice"><%= notice %></p>

<h1>Apples</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apples.each do |apple| %>
      <tr>
        <td><%= apple.name %></td>
        <td><%= apple.price %></td>
        <td><%= apple.description %></td>
        <td><%= link_to 'Show', apple %></td>
        <td><%= link_to 'Edit', edit_apple_path(apple) %></td>
        <td><%= link_to 'Destroy', apple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apple', new_apple_path %>
