<p id="notice"><%= notice %></p>

<h1>Sons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sons.each do |son| %>
      <tr>
        <td><%= son.name %></td>
        <td><%= son.age %></td>
        <td><%= son.phone %></td>
        <td><%= son.address %></td>
        <td><%= link_to 'Show', son %></td>
        <td><%= link_to 'Edit', edit_son_path(son) %></td>
        <td><%= link_to 'Destroy', son, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Son', new_son_path %>
