<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @son.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @son.age %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @son.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @son.address %>
</p>

<%= link_to 'Edit', edit_father_son_path(@father,@son) %> |
<%= link_to 'Back', father_path(@father) %>
