<div>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @house.name %></h5>
    <p class="card-text"><%= @house.address %></p>
    <p class="card-text"><%= @house.in_use ? "Rent" : "Available" %></p>
   <%= link_to "Edit", house_edit_path(@house.id), class: "btn btn-primary" %>
   <%= link_to "Home", house_home_path, class: "btn btn-success" %>
  </div>
</div>
</div>
