<div>
  <% @books.each do |item| %>
    <div>
      <%= item.name %>
    </div>
    <div>
      <%= item.author_id %>
    </div>
    <div>
      <%= link_to "delete", book_destroy_path(item.id), method: :delete, data:{confirm: "Are You sure?"} %>
    </div>
    <div>
      <%= link_to "show", book_show_path(item.id) %>
    </div>
  <% end %>
</div>
<%= link_to "Create new", book1_new_path %>

