
<div class="wrap-contact123">

<%= form_with url: contact123_path(1), method: :get do |form| %>
  <div class="wrap-name">
  <%= form.text_field :name1231231, id: "abc" %>
  </div>
  <div class="wrap-pass">
  <%= form.password_field :password123, id: "fafaf", class: "wrap-txtPass" %>
  </div>
  <div>
  <%= form.submit "submit", id: "id_btnSubmit", class: "wrap-submit" %>
  </div>
<% end %>
<%= @contact_id %>

<%= @name %>
<%= @password %>
