<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @record.course %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @record.grade %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
