<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @subject.faculty %>
</p>


<p>
  <strong>Period:</strong>
  <%= @subject.period %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Students:</strong>
  <% @subject.students&.each do |student| %>
    <%= student.name %>
  <% end %>
</p>


<%= link_to 'New student',  new_subject_student_path(@subject,@student) %> |
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
