<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @teacher.age %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Students:</strong>
  <% @teacher.students&.each do |student| %>
    <%= link_to student.name,  teacher_student_path(@teacher, student.id)  %>
  <% end %>
</p>

<%= link_to 'New Student', new_teacher_student_path(@teacher) %> |
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
