<p id="notice"><%= notice %></p>

<h1>Physicans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicans.each do |physican| %>
      <tr>
        <td><%= physican.name %></td>
        <td><%= physican.age %></td>
        <td><%= link_to 'Show', physican %></td>
        <td><%= link_to 'Edit', edit_physican_path(physican) %></td>
        <td><%= link_to 'Destroy', physican, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physican', new_physican_path %>
<%= link_to 'Back to Appoinment', appoinments_path %>
