<p id="notice"><%= notice %></p>

<h1>Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Rate</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.foods&.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><%= food.rate %></td>
        <td><%= link_to @category.name, @category %></td>
        <td><%= link_to 'Show', category_food_path(@category.id, food.id) %></td>
        <td><%= link_to 'Edit', edit_category_food_path(@category.id, food.id) %></td>
        <td><%= link_to 'Destroy', category_food_path(@category.id,food.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food',  category_foods_path %>
