<div>
  <%= form_with url: card12345_path, method: :get do |form123| %>
    <div>
      <%= form123.label :age, "Username"  %>
      <%= form123.text_field :a123, id: "id_name", class: "id-name" %>
    </div>
    <div>
      <%= form123.label :age, "Age"  %>
      <%= form123.text_field :age, id: "ïd_nam1e", class: "ïd-name11" %>
    </div>
    <div>
      <%= form123.submit "Submit" %>
    </div>
  <% end %>
</div>
